<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /project path/
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ core/Owen.php?url_fastdevel=$1 [QSA,L]
RewriteRule ^$ core/Owen.php?url_fastdevel=$1 [QSA,L]
</IfModule>